:root {
  --nav-bar: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

/* navbar  */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 97;
  height: var(--nav-bar);
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 70%;
}
.navbar-item {
  margin-right: 50px;
}
.navbar-item:last-child {
  float: right;
  align-self: flex-start;
  flex: 1;
  text-align: right;
  font-size: 18px;
  letter-spacing: 2px;
}
.nav .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

/* navigation   */

.sidebar {
  position: fixed;
  top: var(--nav-bar);
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.sidebar-sticky ul {
  flex: 1;
}

.sidebar-sticky span {
  text-align: center;
  color: #e62e2d;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

#chess,
.chess {
  top: var(--nav-bar);
}

