<%
    let gomokuOnline = "";
    let gomoku2Player = "";
    let gomoku1Player = "";
    let xiangqiOnline = "";
    let xiangqi2Player = "";
    let xiangqi1Player = "";
    if(page == "gomokuOnline"){
        gomokuOnline = "active";
    }else if(page == "gomoku2Player"){
        gomoku2Player = "active"; 
    }else if(page == "gomoku1Player"){
        gomoku1Player = "active";
    }else if(page == "xiangqiOnline"){
      xiangqiOnline = "active";
    }else if(page == "xiangqi2Player"){
      xiangqi2Player = "active";
    }else if(page == "xiangqi1Player"){
      xiangqi1Player = "active";
    }
%>
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Gomoku</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link <%= gomoku2Player %>" href="gomoku-2-player">
          <i class="fas fa-user-friends"></i>
          2 người chơi <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= gomoku1Player %>" href="gomoku-1-player">
          <i class="fas fa-desktop"></i>
          Chơi với máy
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= gomokuOnline %>" href="/gomoku-online">
          <i class="fas fa-signal"></i>
          Chơi Online
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Cờ tướng</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/xiangqi-2-player">
          <i class="fas fa-user-friends"></i>
          2 người chơi <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="xiangqi-1-player">
          <i class="fas fa-desktop"></i>
          Chơi với máy
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="xiangqi-online">
          <i class="fas fa-signal"></i>
          Chơi Online
        </a>
      </li>
    </ul>
  </div>
</nav>